body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    /*background: linear-gradient(#f4ccc5, #9a13a7) ;*/
    font-family: "Nunito", sans-serif;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    
}

.navbar.scrolled{
    background-color: #cd5ebc74;
}


#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    
}

#mainNavbar .lolli{
    width: 60px;
}

#mainNavbar .lolli:hover{
    background-color: #f4ccc545;
    border-radius: 50%;
}



#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
} 

.blurb p {
    color: #ffe6e6;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}



@media (min-width: 992px) {
.d-lg-inline {
    display: inline;
}
}
